
# Append paths to PATH env variable
append_path '{{ resource_path }}/bin'
append_path '{{ my_resource_path }}/bin'

# source he custom resource file if any
[ -f {{ my_resource_path }}/setup/bashrc ] && . {{ my_resource_path }}/setup/bashrc
