---

- name: "Get mount options for {{ mount_path }}"
  ansible.builtin.command:
    cmd: "findmnt -n -o OPTIONS --target {{ mount_path }}"
  register: mount_rslt
  failed_when: false
  changed_when: false
  become: true

- name: Ensure {{ mount_path }} is mounted read-write
  ansible.builtin.assert:
    that:
      - mount_rslt.stdout != ""
      - "'rw' in mount_rslt.stdout"
    fail_msg: "{{ mount_path }} is not mounted read-write"
    success_msg: "{{ mount_path }} is mounted read-write"
  changed_when: false
